/config.php
/data/push-to-my-ouya.sqlite3
/data/usernames.sqlite3
/README.html
www/api/v1/apps/
www/api/v1/details-data/
www/api/v1/developers/
www/api/v1/discover-data/
www/api/v1/discover.json
www/api/v1/games/*/
www/api/v1/search-data/
www/discover/
www/game/
www/gen-qr/
www/game-data-version
