<?php
/**
 * Optional configuration file for import-game-data.php
 * Copy it to config.php and adjust it.
 */
$GLOBALS['urlRewrites'] = [
    '#^https://archive.org/download/#' => 'http://statics.ouya.world/ia/',
];
$GLOBALS['packagelists']["cweiske's picks"] = [
    'de.eiswuxe.blookid2',
    'com.cosmos.babyloniantwins',
    'com.inverseblue.skyriders',
];
$GLOBALS['home']['2020 Winter GameJam'] = [
    'com.DESKINK.ToneTests',
    'com.Eightbbgames.yahayor',
    'com.FuzzyPopcorn',
    'com.NYYLE.NYCTO',
    'com.NoelRojasOliveras.PaintKiller',
    'com.StrawHat.Fall',
    'com.oliverstogden.trf',
    'com.samuelsousa.shootdestroy',
    'com.scorpion.shootout',
    'com.sd_game_dev.aliens_taste_my_sword',
    'com.sumotown.sirtet',
    'de.x2041.games.gyrogun',
    'ht.sr.git.arcticGrind.embed',
    'tv.ouya.demo.DarkSpacePioneer',
    'tv.ouya.win.unity.brokenbeauty',
];
$GLOBALS['pushToMyOuyaUrl'] = '../push-to-my-ouya.php';
