RewriteEngine on

#rewrite details GET parameter
RewriteCond %{QUERY_STRING} ^app=([^&]+)
RewriteCond %{DOCUMENT_ROOT}/api/v1/details-data/%1.json -f
RewriteRule ^api/v1/details /api/v1/details-data/%1.json? [END]

# details for unknown apps. Also see .htaccess in the dummy dir
RewriteRule ^api/v1/details /api/v1/details-dummy/404? [END]

RewriteRule ^api/v1/apps/(.*)/download$ /api/v1/apps/$1-download.json? [END]
RewriteRule ^api/v1/apps/(.*)$ /api/v1/apps/$1.json? [END]

RewriteRule ^api/v1/discover/?$ /api/v1/discover-data/discover.json [END]
RewriteRule ^api/v1/discover/(.+)$ /api/v1/discover-data/$1.json [END]

#this one wants a 204 status code
RewriteRule ^api/v1/status$ - [R=204,L]
