html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: #333;
    background-image: url("bg_details.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #CCC;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 10ex;
    padding-left: 5ex;

    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-gap: 1.5vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-left: 3ex;
}
.ouyalogo {
    height: 3rem;
    width: auto;
    position: fixed;
    top: 2ex;
    right: 6vw;
}

section.media {
    grid-column: 1;
    grid-row: 1;
}
section.text {
    grid-column: 2;
    grid-row: 1;
}

section.contents {
    grid-column: 1 / 3;
    grid-row: 2;
}
section.buttons {
    grid-column: 1 / 3;
    grid-row: 3;
}
nav {
    grid-column: 1 / 3;
    grid-row: 4;
}

.media img, .media video {
    max-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
}


.media h2 {
    display: none;
}
.media .content {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
}
.media .content img, .media .content video {
    scroll-snap-align: start;
}


.text h1 {
    font-weight: normal;
    margin-top: 0;
}
.text dt {
    display: none;
}
.text dd {
    display: inline;
    margin: 0;
    font-weight: bold;
}
.text dd ~ dd:before {
    content: "|";
    font-weight: normal;
}
.text a {
    color: #CCC;
}

.description {
    overflow-y: auto;
    max-height: 50vh;
}
.description .blocked {
    color: red;
}

.buttons h2 {
    display: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons a {
    font-size: 1.5rem;
    color: #CCC;
}
button.push-to-my-ouya {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
}

/* tiles in rows */
.tiles {
    display: flex;
    overflow-x: auto;
    column-gap: 1em;
    margin-bottom: 2ex;
}

.tile {
    border: 0.5ex solid transparent;
    width: 20vw;

    display: flex;
    flex-direction: column;
}
.tile:hover {
    border: 0.5ex solid orange;
}

.tile a {
    color: #CCC;
}
.tile > a {
    order: -1;
}
.tile img {
    width: 20vw;
    height: auto;
}
h3 {
    margin: 0;
    font-weight: normal;
}
h3 a {
    padding-left: 1ex;
    padding-top: 1ex;
    padding-bottom: 0ex;
    display: block;
    width: 100%;
}
.tile p {
    margin: 0;
    padding-left: 2ex;
    font-size: 80%;
}


nav {
    text-align: center;
}
nav a {
    color: white;
    margin-left: 1ex;
    margin-right: 1ex;
}


/* rating stars */
.average {
    visibility: hidden;
    font-size: 0;
}
.average:before {
    visibility: visible;
    font-size: 1rem;
    color: orange;
}
.average:after {
    visibility: visible;
    font-size: 1rem;
}
.average-0:after {
    content: "★★★★★";
}
.average-1:before {
    content: "★";
}
.average-1:after {
    content: "★★★★";
}
.average-2:before {
    content: "★★";
}
.average-2:after {
    content: "★★★";
}
.average-3:before {
    content: "★★★";
}
.average-3:after {
    content: "★★";
}
.average-4:before {
    content: "★★★★";
}
.average-4:after {
    content: "★";
}
.average-5:before {
    content: "★★★★★";
}


.popup {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 20rem;
    padding: 1rem;
    background-color: black;
    border: 1px solid #AAA;
    border-radius: 0.5rem;
}
.popup a.close {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0.5rem;
}
.popup a.close:hover {
    color: #fc4422;
}
.popup strong {
    display: block;
    color: #fc4422;
    margin-bottom: 0.5rem;
}
